<div class="row d-flex justify-content-end">
  <div class="col-12 d-flex justify-content-end">
    <button class="btn btn-primary ">Add File
      <input type="file"  (change)="onFileChanged($event)"/>
    <!-- <input type="file" name="photo" ng2FileSelect [uploader]="uploader" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0;" (change)="uploader.uploadAll()"/> -->
  </button>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <nz-table #basicTable [nzData]="medias" style="width: 100%;">
      <thead>
          <tr>
              <th nzWidth="20%">Name</th>
              <th nzWidth="50%">Url</th>
              <th nzWidth="20%">Date</th>
              <th nzWidth="10%">Action</th>
          </tr>
      </thead>
      <tbody *ngFor="let item of medias">
          <tr>
              <td nzWidth="20%">{{item.Name}}</td>
              <td nzWidth="50%">{{item.Url}}</td>
              <td nzWidth="20%">{{getDate(item.DateCreated)}}</td>
              <td nzWidth="10%">
                <a  class="ml-2" [href]="item.downloadUrl" [download]="item.Name">
                  <i nz-icon  nzType="download" nzTheme="outline" style="color: green;" (click)="downloadVideo(item)"></i>
                </a>
                <!-- <i nz-icon nzType="download" nzTheme="outline" style="color: green;" (click)="downloadVideo(item)"></i> -->
              </td>
          </tr>
      </tbody>
  </nz-table>
  </div>

</div>
