<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
        </div>
        <div class="sidebar-brand-text mx-3">Canteen Management</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" routerLink='dashboard'>
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Nav Item - Pages Collapse Menu -->
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" routerLink='meals'>
            <i class="fas fa-fw fa-list"></i>
            <span>Meals</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink='dishtype'>
            <i class="fas fa-fw fa-table"></i>
            <span>Dish Type</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink='menudish'>
            <i class="fas fa-fw fa-table"></i>
            <span>Menu Dishes</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink='menudetail'>
            <i class="fas fa-fw fa-table"></i>
            <span>Menu Detail</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink='employees'>
            <i class="fas fa-fw fa-user"></i>
            <span>Employees</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink='users'>
            <i class="fas fa-fw fa-user-edit"></i>
            <span>Users</span>
        </a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" routerLink='collections'>
            <i class="fas fa-fw fa-play-circle"></i>
            <span>Collections</span>
        </a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link" routerLink='menu'>
            <i class="fas fa-fw fa-play-circle"></i>
            <span>Menu</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink='addMenuDetail'>
            <i class="fas fa-fw fa-play-circle"></i>
            <span>Add Menu Detail</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink='uploadFile'>
            <i class="fas fa-fw fa-play-circle"></i>
            <span>uploads</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink='addmenu'>
            <i class="fas fa-fw fa-play-circle"></i>
            <span>New Menu</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink='designation'>
            <i class="fas fa-fw fa-play-circle"></i>
            <span>Designation </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink='contractors'>
            <i class="fas fa-fw fa-play-circle"></i>
            <span>Contractors</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->