<div>
  <div>
    <div class="row" style="width: 50%;">
      <button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (click)="dateChanged()">Previous</button>
      <button style="width: 100px !important" mwlCalendarToday [(viewDate)]="viewDate"
        (click)="dateChanged()">Today</button>
      <button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (click)="dateChanged()">Next</button>
    </div>
    <div class="row" style="width: 50%;text-align: right; margin-top: 10px;">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
  </div>
  <ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top" style="min-height: 50px !important;">
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <div class="cell-totals">
      <span style="margin: 0px 0px 10px 10px !important; background-color: #ad2121" class="cal-day-badge"
        *ngIf="getCounts(day,'myevents') > 0"> {{getCounts(day,'myevents')}}</span>
      <span style="margin: 0px 0px 10px 10px !important;background-color: #e3bc08" class="cal-day-badge"
        *ngIf="getCounts(day,'enrolled') > 0">{{getCounts(day,'enrolled')}}</span>
    </div>
  </ng-template>
  <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    [cellTemplate]="customCellTemplate" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="typeClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)">
  </mwl-calendar-month-view>
</div>